{{#each this}}
<li class="five-day-section__item" data-index={{index}}>
    <h3 class="five-day-section__day">{{nameOfDay}}</h3>
    <h4 class="five-day-section__date">{{currentDay}} {{nameOfMonth}}</h4>
    <img src="http://openweathermap.org/img/wn/{{weatherDay}}@2x.png" alt="" />
    <div class="five-day-section__min-max-container">
        <div>
            <p class="min-max-container__name">min</p>
            <p class="min-max-container__temperature"><span>{{min}}</span>&deg;</p>
        </div>
        <div>
            <p class="min-max-container__name">max</p>
            <p class="min-max-container__temperature">
                <span id="todayMaxTemperature">{{max}}</span>&deg;
            </p>
        </div>
    </div>
    <button class="five-day-section__button">more info</button>
    <ul id="five-day-section__hourly-list"></ul>
</li>
{{/each}}